/* Estilos comunes para todas las páginas */
.navbar {
  background-color: #333;
  padding: 10px;
  text-align: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
.navbar a:hover {
  color: #ddd;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}